<p id="notice"><%= notice %></p>

<p>
  <strong>Enable Notifications:</strong>
  <label class="switch">
    <input type="checkbox" <%= 'checked' if preference.enable_notifications%> >
    <span class="slider round"></span>
  </label>
</p>
<p>
  <strong>Notifications</strong>
  <form action="/preferences" method="post">
      <% preference.types.each_with_index do |issue, index| %>
        <div>
          <%= issue %>
          <label class="switch">
            <input type="checkbox" <%= 'checked' if preference.unmask_issue_type[index] == '1' %> >
            <span class="slider round"></span>
          </label>
        </div>
      <% end %>
      <input type="submit" value="Submit This Form">
  </form>
</p>

<p>
  <strong>Ranges:</strong>
  <%= preference.range1_start %>
  <%= preference.range1_end %>
  <%= preference.range2_start %>
  <%= preference.range2_end %>
</p>


<button>Update</button>
