<p id="notice"><%= notice %></p>

<p>
  <strong>Enable Notifications:</strong>
  <%= preference.enable_notifications %>
</p>

<p>
  <strong>Issue type:</strong>
  <%= preference.issue_type %>
</p>

<p>
  <strong>Ranges:</strong>
  <%= preference.range1_start %>
  <%= preference.range1_end %>
  <%= preference.range2_start %>
  <%= preference.range2_end %>
</p>


<!--     t.integer  "user_id"
    t.boolean  "enable_notifications"
    t.integer  "issue_type"
    t.datetime "range1_start"
    t.datetime "range1_end"
    t.datetime "range2_start"
    t.datetime "range2_end" -->